:root {
  --primary: #5e35b1 !important;
  --primary-hover: #512da8 !important;
  --primary-focus: rgba(94, 53, 177, 0.125) !important;
  --primary-inverse: #fff !important;

  --form-element-active-border-color: var(--primary) !important;
  --form-element-focus-color: var(--primary-focus) !important;
  --switch-color: var(--primary-inverse) !important;
  --switch-checked-background-color: var(--primary) !important;
}

body {
  font-family: 'Raleway', sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 6rem 1rem;
}

main {
  max-width: calc(100vw - 2rem);
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
